---
import ArticleHeader from "@components/ArticleHeader.astro";
import DefaultLayout from "@layouts/DefaultLayout.astro";

import CamilleInfobox from "@components/ocs/CamilleInfobox.astro";
import ValentinaInfobox from "@components/ocs/ValentinaInfobox.astro";
---

<DefaultLayout
  title="OCs"
  metadesc="Character bible for various original characters I've made."
>
  <main class="container">
    <ArticleHeader
      icon="/images/icons/users.png"
      title="Original Characters (OCs)"
    >
      Character bible for various original characters I've made. Click on their
      info box to go to their character page.
    </ArticleHeader>

    <nav class="flex items-start justify-center flex-wrap gap-10">
      <a href="/ocs/camille" class="interactive"><CamilleInfobox /></a>
      <a href="/ocs/valentina" class="interactive"><ValentinaInfobox /></a>
    </nav>
    
  </main>
</DefaultLayout>

<style>
  .interactive {
    position: relative;

    &:hover {
      top: -1px;
    }
  }
</style>