@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-pi-gray: #38383f;
  --color-pi-pink: #ff90e7;
  --color-pi-purple: #c45dc6;
  --color-pi-cyan: #9eecec;
  --color-pi-yellow: #fecb00;
  --color-pi-cyan-dark: #7ebdbd;

  --font-sans: "NEC", sans-serif;
  --font-mono: "DOSV JPN24", sans-serif;
  --font-display: "DOSV JPN24", sans-serif;
  --font-ascii-art: "NEC", sans-serif;
}

.prose-invariants {
  @apply prose-invert
    prose-a:text-pi-cyan prose-a:decoration-dotted prose-a:hover:text-pi-cyan-dark
    prose-code:font-normal prose-code:font-display prose-code:text-pi-pink prose-code:before:content-none prose-code:after:content-none
    prose-figcaption:text-base prose-figcaption:text-stone-400;
}



@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility muted {
  @apply text-stone-400;
}

@layer components {

  .bg-texture-dots {
    background-image: radial-gradient(circle at 1px 1px, var(--color-stone-600) 1px, transparent 0);
    background-size: 40px 40px;
  }

  .container {
    @apply mx-auto px-3 xl:px-0 w-full xl:w-320!;
  }

  .link {
    color: var(--color-pi-cyan);
    text-decoration: underline dotted;
  }

  .link:hover {
    color: var(--color-white)
  }

  .marginal-note {
    @apply muted text-base prose-p:!mt-0 relative !mt-0 xl:float-right xl:-mr-90 xl:w-80 xl:absolute xl:top-0 xl:right-0;
  }

  .ascii-art {
    font-family: var(--font-ascii-art);
    letter-spacing: .1rem;
    white-space: pre;
    line-height: 1.3em;
    font-size: 16px;
  }

  .blink {
    animation: blinker 4s cubic-bezier(.55,.06,.68,.19) infinite;
  }
  
  .hard-blink {
      animation: hard-blinker 1.5s step-start infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  
    70% {
      opacity: 0;
    }
  }
  
  @keyframes hard-blinker {
    50% {
      opacity: 0;
    }
  }
}

@font-face {
  font-family: "NEC";
  src: url( '/fonts/Web437_NEC_APC3_8x16.woff' );
}

@font-face {
  font-family: "Terminus";
  src: url( '/fonts/Terminus.woff' );
  size-adjust: 110%;
}

@font-face {
  font-family: "DOSV JPN24";
  src: url( '/fonts/web_dos-v_re_jpn24.woff' );
}

@font-face {
  font-family: "PressStart2P";
  src: url( '/fonts/PressStart2P-Regular.ttf' );
  size-adjust: 70%;
}