@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-pi-gray: #38383f;
  --color-pi-pink: #ff90e7;
  --color-pi-purple: #c45dc6;
  --color-pi-cyan: #9eecec;
  --color-pi-cyan-dark: #7ebdbd;

  --font-sans: "NEC", sans-serif;
  --font-mono: "NEC", sans-serif;
  --font-display: "DOSV JPN24", sans-serif;
}

@layer components {
  .container {
    @apply mx-auto px-3 xl:px-0 w-full xl:w-320!;
  }

  .link {
    color: var(--color-pi-cyan);
    text-decoration: underline dotted;
  }

  .link:hover {
    color: var(--color-pi-cyan-dark)
  }

  .muted {
    @apply text-stone-400;
  }
}

@font-face {
  font-family: "NEC";
  src: url( '/fonts/Web437_NEC_APC3_8x16.woff' );
}

@font-face {
  font-family: "Terminus";
  src: url( '/fonts/Terminus.woff' );
  size-adjust: 110%;
}

@font-face {
  font-family: "DOSV JPN24";
  src: url( '/fonts/web_dos-v_re_jpn24.woff' );
}

@font-face {
  font-family: "PressStart2P";
  src: url( '/fonts/PressStart2P-Regular.ttf' );
  size-adjust: 70%;
}