@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --color-pi-gray: #38383f;
  --color-pi-pink: #ff90e7;
  --color-pi-purple: #c45dc6;
  --color-pi-cyan: #9eecec;
  --color-pi-yellow: #fecb00;
  --color-pi-cyan-dark: #7ebdbd;

  --font-sans: "NEC", sans-serif;
  --font-mono: "DOSV JPN24", sans-serif;
  --font-display: "DOSV JPN24", sans-serif;
  --font-ascii-art: "NEC", sans-serif;
  --font-cjk: "JFDot milkjf16", sans-serif;
  --font-cjk-display: "JFDot jiskan24h", sans-serif;
  --font-ari-display: "Ari-W9500 Display", sans-serif;

  --spacing: 4px;

  --text-xs: 8px;
  --text-sm: 12px;
  --text-base: 16px;
  --text-lg: 16px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 28px;
  --text-4xl: 36px;
}

@utility prose-invariants {
  @apply prose-invert
    text-white
    prose-a:text-pi-cyan prose-a:decoration-dotted prose-a:hover:text-white
    prose-code:font-normal prose-code:font-display prose-code:text-pi-pink prose-code:before:content-none prose-code:after:content-none
    prose-figcaption:text-base prose-figcaption:text-stone-400
    prose-ul:marker:text-white
    prose-blockquote:text-green-300 prose-blockquote:border-green-300
    prose-blockquote:not-italic
    prose-headings:font-display prose-headings:font-normal;
  
  li p:has(+ blockquote) {
    margin-bottom: 0;
  }

  li blockquote {
    margin-top: 0;
  }

  li blockquote p {
    @apply mt-3;
  }

  /* Disable adding quote marks to block-quotes: https://github.com/tailwindlabs/tailwindcss-typography/issues/66 */
  blockquote p {
      &:first-of-type::before,
      &:last-of-type::after {
          content: none;
      }
  }
}

.prose-invariants a {
  text-decoration-thickness: 1px;
}

html {
  @apply text-white;
  font-smooth: never;
  scrollbar-color: var(--color-pi-cyan) var(--color-pi-gray);
}

summary {
  cursor: pointer;
}

@utility flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@utility muted {
  @apply text-stone-400;
}

@utility transition-box {
  transition-property: padding, margin;
  transition-timing-function: var(--default-transition-timing-function); /* cubic-bezier(0.4, 0, 0.2, 1) */
  transition-duration: var(--default-transition-duration); /* 150ms */
}

@layer components {
  .tree-list {
    & ul {
      @apply ms-2 mt-1;

      & li {
        @apply relative border-s my-0 ps-6 py-1 mt-1;

        &::before {
          @apply w-5 h-5 absolute -top-1 -left-px border;

          content: '';
          display: block;
          border-width: 0 0 1px 1px;
        }
      }

      & li:last-child {
        @apply border-transparent;
      }
    }
  }

  .pill-link {
    @apply inline-block w-full border text-center text-pi-cyan hover:bg-pi-cyan/20 active:bg-pi-cyan/30 transition-all rounded md:px-5 py-1;
  }

  .social-link {
    @apply px-2 py-1 text-pi-cyan border-b-2 border-pi-cyan
    block w-50
    md:inline md:w-auto
    hover:bg-pi-cyan hover:text-pi-gray
    active:bg-white active:border-white;
    text-transform: uppercase;
    transition-duration: .15s;
  }

  .wordy-list {
    @apply list-disc ms-5 mb-5 flex flex-col gap-3;
  }

  .bg-texture-dots {
    background-image: radial-gradient(circle at 1px 1px, var(--color-stone-600) 1px, transparent 0);
    background-size: 40px 40px;
  }

  .container {
    @apply mx-auto px-3 xl:px-0 w-full xl:w-320!;
  }

  .link {
    color: var(--color-pi-cyan);
    text-decoration: underline dotted;
    text-decoration-thickness: 1px;
  }

  .link:hover {
    color: var(--color-white)
  }

  .marginal-note {
    @apply muted text-base prose-p:!mt-0 relative !mt-0 xl:float-right xl:-mr-90 xl:w-80 xl:absolute xl:top-0 xl:right-0;
  }

  .ascii-art {
    font-family: var(--font-ascii-art);
    letter-spacing: .1rem;
    white-space: pre;
    line-height: 1.3em;
    font-size: 16px;
  }

  .blink {
    animation: blinker 4s cubic-bezier(.55,.06,.68,.19) infinite;
  }
  
  .hard-blink {
    animation: hard-blinker 1.5s step-start infinite;
  }

  .infobox-content {
    @apply gap-1;
    display: grid;
    
    & > div {
      @apply gap-5;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      & > dt {
        grid-column: span 1;
        font-weight: bold;
      }

      & > dd {
        grid-column: span 2;
      }
    }
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  
    70% {
      opacity: 0;
    }
  }
  
  @keyframes hard-blinker {
    50% {
      opacity: 0;
    }
  }
}

@font-face {
  font-family: "NEC";
  src: url( '/fonts/Web437_NEC_APC3_8x16.woff' );
}

@font-face {
  font-family: "Terminus";
  src: url( '/fonts/Terminus.woff' );
  size-adjust: 110%;
}

@font-face {
  font-family: "DOSV JPN24";
  src: url( '/fonts/web_dos-v_re_jpn24.woff' );
}

@font-face {
  font-family: "PressStart2P";
  src: url( '/fonts/PressStart2P-Regular.ttf' );
  size-adjust: 70%;
}

@font-face {
  font-family: "JFDot jiskan24h";
  src: url( '/fonts/JF-Dot-jiskan24h.ttf' );
}

@font-face {
  font-family: "JFDot milkjf16";
  src: url( '/fonts/JF-Dot-milkjf16.ttf' );
}

@font-face {
  font-family: "Ari-W9500 Display";
  src: url( '/fonts/ari-w9500-display.ttf' );
}

@import "./homelab.css"