@layer components {
  .blazon {
    @apply gap-6;
    display: grid;
    height: min-content;

    & > div {
      display: grid;

      & > dd {
        @apply lg:text-2xl;
      }
      
      & > dt {
        @apply text-xl bg-pi-yellow text-pi-gray py-0.5 px-4 font-display mb-5;
        text-transform: uppercase;
      }
    }
  }
}