---
import '../../styles/global.css'
import { Image } from "astro:assets";
import { getCollection, render } from 'astro:content';
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import Favicon from '../../components/Favicon.astro';
import ImageViewer from '../../components/ImageViewer.astro';
import ImageDescription from '../../components/ImageDescription.astro';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection('art');
  return posts.map(post => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
---

<!DOCTYPE html>
<html lang="en" class="bg-pi-gray text-white h-full">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <Favicon />
  <title>{ post.data.title } | Pilosophos' Circle</title>
</head>
<body>
  <ImageViewer>
    <Image
      slot="image"
      class="max-h-screen object-contain w-auto h-auto"
      src={ post.data.cover }
      alt={ post.data.title }
      quality="max"
      width={ post.data.cover.width }
    />
    <nav
      slot="sidebar-header"
      class="py-2 border-b border-stone-500 mb-3 text-start"
    >
      <a href="/art" class="muted hover:text-pi-cyan font-display text-xl">
        ← Back to gallery
      </a>
    </nav>
    <ImageDescription
      slot="description"
      title={ post.data.title }
      date={ post.data.date }
    >
      <Content />
    </ImageDescription>
  </ImageViewer>
</div>
</body>
</html>