---
import { Image } from "astro:assets";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { getCollection, getEntry, render } from 'astro:content';

const art = await getCollection('art');

---

<DefaultLayout title="Art">
  <main class="container">
    <ul class="grid grid-cols-3 gap-5">
      {
        art.map(async piece => {
          const { Content } = await render(piece);
      
          return (
            <li>
              <Image src={ piece.data.cover } alt={ piece.data.title } quality="max" width={400}/>
              <Content />
            </li>
          )
        })
      }
    </ul>
  </main>
</DefaultLayout>