---
import BigNavLink from '../components/BigNavLink.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
---

<DefaultLayout title="Home">
  <div class="container xl:py-20">
    <div class="lg:grid grid-cols-3 gap-3">
      <main class="col-span-2">
        <nav class="mb-3">
          <ul class="grid gap-3">
            <li><BigNavLink label="Art" flavorText="Pictures worth 1000 words"/></li>
            <li><BigNavLink label="Writing" flavorText="Monkey & typewriter not included"/></li>
            <li><BigNavLink label="Support me" flavorText="How to commission me or buy my art"/></li>
            <li><BigNavLink label="About" flavorText="About the guy behind it all"/></li>
          </ul>
        </nav>
        <nav class="text-end">
          <ul class="inline-flex flex-wrap justify-end gap-3">
            <li class="px-5 border text-center text-pi-cyan rounded"><a href="">Email</a></li>
            <li class="px-5 border text-center text-pi-cyan rounded"><a href="">Bluesky</a></li>
            <li class="px-5 border text-center text-pi-cyan rounded"><a href="">Mastodon</a></li>
            <li class="px-5 border text-center text-pi-cyan rounded"><a href="">Instagram</a></li>
            <li class="px-5 border text-center text-pi-cyan rounded"><a href="">Tumblr</a></li>
            <li class="px-5 border text-center text-pi-cyan rounded"><a href="">Pixiv</a></li>
          </ul>
        </nav>
      </main>
      <div class="h-full gap-3 hidden lg:flex">
        <div class="h-full sidebar-decor rounded-lg border border-pi-yellow bg-pi-yellow flex flex-col">
          <div>
            <img src="/images/malaszec-pfp.png" alt="" width="200" class="object-contain"/>
          </div>
          <div class="sidebar-decor grow bg-pi-gray rounded-lg flex items-end p-3">
            <div class="text-end text-stone-500">
              Oloromnal Graphical Shell for ACROS v2053.06.21-26a31f
            </div>
          </div>
        </div>
        <div class="w-12 relative">
          <span class="absolute -left-42 top-62 rotate-90 inline-block text-stone-500 text-base/4 text-display">▞▗▖▚▘▚▚▚▗▚▜▗▝▞▝▞▛▞▝▞▝▗▞▞▗▚▞▜▙▝<br>▙▖▛▛▙▜▞▙▛▟▛▘▚▘▚▟▝▛▙▜▛▖▞▚▛▗▞▚▝▖</span>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .sidebar-decor {
    clip-path: polygon(calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%, 0 0);
  }
</style>