---
import BigNavLink from '../components/BigNavLink.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { Image } from "astro:assets";
import FaerieHeroImg from "../assets/images/faerie-hero.png"
---

<DefaultLayout title="Home">
  <div class="container xl:py-20">
    <div class="lg:grid grid-cols-3 gap-3">
      <main class="col-span-2">
        <nav class="mb-3">
          <ul class="grid gap-3">
            <li><BigNavLink href="/art" label="Art" flavorText="Pictures worth 1000 words"/></li>
            <li><BigNavLink href="/writing" label="Writing" flavorText="Monkey & typewriter not included"/></li>
            <li><BigNavLink href="/support-me" label="Support me" flavorText="How to commission me or buy my art"/></li>
            <li><BigNavLink href="/about" label="About" flavorText="About the guy behind it all"/></li>
          </ul>
        </nav>
        <nav class="text-end">
          <ul class="inline-flex flex-wrap justify-end gap-3">
            <li class="border text-center text-pi-cyan hover:bg-pi-cyan/20 active:bg-pi-cyan/30 transition-all duration-2.5s rounded"><a href="mailto:pilosophos@gmail.com" class="px-5">Email</a></li>
            <li class="border text-center text-pi-cyan hover:bg-pi-cyan/20 active:bg-pi-cyan/30 transition-all duration-2.5s rounded"><a href="https://bsky.app/profile/pilosophos.com" class="px-5">Bluesky</a></li>
            <li class="border text-center text-pi-cyan hover:bg-pi-cyan/20 active:bg-pi-cyan/30 transition-all duration-2.5s rounded"><a href="https://tiny.tilde.website/@pilosophos" class="px-5">Mastodon</a></li>
            <li class="border text-center text-pi-cyan hover:bg-pi-cyan/20 active:bg-pi-cyan/30 transition-all duration-2.5s rounded"><a href="https://www.instagram.com/pilosophos" class="px-5">Instagram</a></li>
            <li class="border text-center text-pi-cyan hover:bg-pi-cyan/20 active:bg-pi-cyan/30 transition-all duration-2.5s rounded"><a href="https://pilosophos.tumblr.com" class="px-5">Tumblr</a></li>
            <li class="border text-center text-pi-cyan hover:bg-pi-cyan/20 active:bg-pi-cyan/30 transition-all duration-2.5s rounded"><a href="https://reddit.com/u/pilosophos" class="px-5">Reddit</a></li>
            <li class="border text-center text-pi-cyan hover:bg-pi-cyan/20 active:bg-pi-cyan/30 transition-all duration-2.5s rounded"><a href="https://www.pixiv.net/en/users/77474454" class="px-5">Pixiv</a></li>
          </ul>
        </nav>
      </main>
      <div class="h-full gap-3 hidden lg:flex relative">
        <Image
          src={ FaerieHeroImg }
          alt="A drawing of a faerie by pilosophos"
          width="400"
          class="absolute z-10 -bottom-21 xl:-bottom-26 right-0"
          quality="max"
        />
        <div class="h-full sidebar-decor rounded-lg border border-pi-yellow bg-pi-yellow flex flex-col overflow-hidden">
          <div>
            <img src="/images/malaszec-pfp.png" alt="" width="200" class="object-contain"/>
          </div>
          <div class="sidebar-decor grow bg-pi-gray rounded-lg flex items-end p-3">
            <div class="text-end text-stone-500 whitespace-pre-line">
              Oloromnal Graphical Shell for ACROS v2053.06.21-26a31f
              inetd service loaded... 230ms
              connected on interface enp0s10
              netboot sequence initiated
              awaiting system daemon... 166ms
              failed to placate daemon
              bailing out, you are now on your own
            </div>
          </div>
        </div>
        <div class="w-14 relative">
          <span aria-hidden="true" class="absolute -left-36 top-55 rotate-90 inline-block text-stone-500 text-base/4 text-display whitespace-pre-line">
            ISO 3533 COMPLIANT INFORMATION SYSTEM
            ▞▗▖▚▘▚▚▚▗▚▜▗▝▞▝▞▛▞▝▞▝▗▞▞▗▚▞▝
            ▙▖▛▛▙▜▞▙▛▟▛▘▚▘▚▟▝▛▙▜▛▖▞▚▛▗▞▚
          </span>
        </div>
      </div>
    </div>
  </div>
</Layout>

<style>
  .sidebar-decor {
    clip-path: polygon(calc(100% - 80px) 0, 100% 80px, 100% 100%, 0 100%, 0 0);
  }
</style>