---
import ArticleHeader from "../components/ArticleHeader.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Interests">
  <main class="container">
    <ArticleHeader
      icon="/images/icons/paint_old-0.png"
      title="Interests (non-exhaustive)"
    >
      When I meet people I like to ask about their hobbies and interests.
      It's much more fun than talking about what you do for a living,
      so if you meet me, ask me about these things! 
    </ArticleHeader>
  </main>
</DefaultLayout>