---
import { Image } from "astro:assets";
import ArticleHeader from "../components/ArticleHeader.astro";
import IconH2 from "../components/IconH2.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import ShoppingSpriteImg from "../art/shopping-sprite.png";
import SmallIconLink from "../components/SmallIconLink.astro";
---

<DefaultLayout title="Interests">
  <main class="container">
    <ArticleHeader
      icon="/images/icons/paint_old-0.png"
      title="Interests"
    >
      When I meet people I like to ask about their hobbies and interests.
      It's much more fun than talking about what you do for a living,
      so if you meet me, ask me about these things! 
    </ArticleHeader>

    <section class="mb-10 flex flex-col gap-10 lg:flex-row">
      <div class="prose prose-invariants max-w-180">
        <IconH2 icon="/images/icons/paint_file-2.png" class="not-prose">Drawing</IconH2>

        <p class="mt-0"><i>For a gallery of my drawings, see my <a href="/art" class="link">art page</a>.</i></p>
        <p>I primarly draw digital manga-style illustrations, because I grew up reading a lot of Pokémon Special and watching anime. In school, I had a sketchbook around that I'd show people, and everyone's positive comments really pushed me to keep going. Today, I publish my illustrations all over the internet, and even sell some stickers and prints!</p>
        <p>The artists that inspire me the most are Bruce Timm and Endou Okito. I've love Bruce Timm's simple yet expressive lineart, which squeezes incredible energy out of simple shapes. By contrast, Endou Okito's work is detailed yet delicate, and his colors make you feel like you've slipped into a dream.</p>
        <p>I don't fully know how to reconcile these styles I love so much, but as I keep drawing and experimenting, I can feel myself grow as an artist. I hope you enjoy looking at my art and watching me improve!</p>
      </div>

      <div class="flex items-center justify-center flex-grow flex-shrink-0">
        <figure class="table">
          <a href="/art/shopping-sprite">
            <Image src={ ShoppingSpriteImg } alt="A drawing of a faerie holding a 20 Proj bill" width={ 350 } />
          </a>
          <figcaption class="text-stone-400 table-caption caption-bottom mt-2">
            One of my favorite drawings I've done is <a href="/art/shopping-sprite" class="link">Shopping Sprite</a>, January 2020.
          </figcaption>
        </figure>
      </div>
    </section>


    <section class="mb-10 flex flex-col gap-10 lg:flex-row-reverse">
      <div class="prose prose-invariants max-w-180">
        <IconH2 icon="/images/icons/globe_map-0.png" class="not-prose">Worldbuilding</IconH2>

        <p>Worldbuilding is where you make your own fictional world, populating it with cultures, politics, and history from your very own imagination. I originally got into it roleplaying on <a href="https://nationstates.net" class="link">NationStates</a>, a game where you create your own nation and can interact with other countries.</p>

        <p>My favorite worldbuilding projects I've done are:</p>

        <ul>
          <li><SmallIconLink href="https://pilosophos.com/nspb-wiki-archive/wiki/Malaszec.html" icon="/images/malaszec-flag.png" label="Malaszec" class="not-prose"/> - a magical cyberpunk country having emerged from the collapse of an authoritarian regime and struggling to integrate faeries, elves, and humans into a ruthless corporatocracy. </li>
          <li><SmallIconLink href="https://pilosophos.com/the-federal-constellation/" icon="/images/federal-constellation-flag.png" label="The Federal Constellation" class="not-prose"/> - a supranational space union founded by two alien worlds each on the other side of a shared wormhole, around which both home planets orbit. </li>
        </ul>
      </div>

      <div class="flex items-center justify-center flex-grow flex-shrink-0">
        <figure class="table">
          <img src="/images/federal-constellation-flag.png" alt="A drawing of a faerie holding a 20 Proj bill" width={ 350 } />
          <figcaption class="text-stone-400 table-caption caption-bottom mt-2">
            Flag of the Federal Constellation, one of my old worldbuilding projects.
          </figcaption>
        </figure>
      </div>
    </section>

    <div class="grid gap-5 lg:grid-cols-2 mb-10">
      <section class="prose prose-invariants max-w-full">
        <IconH2 icon="/images/icons/directory_fonts-0.png" class="not-prose">Conlanging</IconH2>

        <p>I like to make my own languages, which I started doing while I was worldbuilding. I thought that if I'm going to make up a completely fictional world and culture, why wouldn't they have their own unique language as well, instead of just making them speak English?</p>

        <p>The most developed conlang is the <a href="https://pilosophos.com/nspb-wiki-archive/wiki/Malaszec_language" class="link">Malaszec language</a>, a fluid-S active-stative language with influence from its in-universe neighbor, the Andeijan feyspeech.</p>
      </section>
      <section class="prose prose-invariants max-w-full">
        <IconH2 icon="/images/icons/computer_explorer-3.png" class="not-prose">Technology</IconH2>

        <p>I've worked professionally as a software engineer and I sometimes write personal software projects (though I write most of them under a different name). This website, for instance, was created by me using Astro and Tailwind, and you can see my other software projects from the <a href="/software" class="link">software page</a>, like my <a href="https://pilosophos.com/88x31-viewer" class="link">Geocities 88x31 button viewer</a>.</p>

        <p>I also have a smattering of networked computers that I call my <a href="/homelab" class="link">homelab</a>, which I use to host servers for my friends or for myself.</p>
      </section>
    </div>

    <section class="prose prose-invariants max-w-full">
      <IconH2 icon="/images/icons/briefcase.png" class="not-prose">Minor interests</IconH2>
      <ul>
        <li>Writing - I've quite enjoyed writing since the 7th grade, and in high school I used to enter essay contests! You can see some of my writing on my <a href="/writing">writing</a> page, both fiction and nonfiction. I also have a webcomic, <a href="/comic">Half-Remembered Dreams</a>, where the writing and style is inspired by <a href="https://www.asofterworld.com/">A Softer World</a>.</li>
        <li>Video games - The first real video game I remember playing is Tetris for the Gameboy, which I could only play at my grandparents' house, because my parents believed video games were brainrot for a long while. Now that I'm free to play anything I want, I mostly just play Animal Crossing and, intermittently, Minecraft. For a list of games I recommend, see my <a href="/recommendations#video-games">recommendations page</a>.</li>
        <li>Coin collecting - I collect world coins, mainly for the cool designs and not for their value. The oldest coin I own is an <a href="https://en.numista.com/catalogue/pieces5657.html">1863 Queen Victoria Hong Kong 1 Cent</a>, and the most interesting coin I own is a <a href="https://en.numista.com/catalogue/exonumia53935.html">1983 Price and Princess of Wales Edmonton Klondike Dollar</a>.</li>
        <li>Manga & Anime - You may be able to tell from my <a href="/art">art style</a> that I'm a weeb, so I've watched and read a fair amount of anime and manga. I have recommendations for both <a href="/recommendations#anime">anime</a> and <a href="/recommendations#manga">manga</a>.</li>
        <li>Roleplaying - I used to be extremely into RPing on forums. I don't do it much anymore, but I still like it. I'm not a fan of D&D, where you have to do it in real-time; doing the writing is half the fun.</li>
        <li>Philosophy - I know I'm called pilosophos, but I'm not actually very well-read on philosophy. However, I'm interested in the philosophy of language, semantics, and logic. My favorite philosopher is Wittgenstein.</li>
        <li>Traditional games - For a list of traditional (board or otherwise) games I recommend, see my <a href="/recommendations#traditional-games">recommendations page</a>.</li>
      </ul>
    </section>
  </main>
</DefaultLayout>