---
import { Image } from "astro:assets";
import ArticleHeader from "../components/ArticleHeader.astro";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import CamilleGreyEquipmentImg from "../art/camille-grey-equipment.png";
import CamilleGreyImg from "../art/camille-grey.png";
import ArtfightDefenseDubiousdiscWildcardImg from "../art/artfight-defense-dubiousdisc-wildcard.png";
import ArtfightDefensePurpuroseaWantedImg from "../art/artfight-defense-purpurosea-wanted.png";
---

<DefaultLayout title="OCs">
  <main class="container">
    <ArticleHeader
      icon="/images/icons/users.png"
      title="Original Characters (OCs)"
    >
      Character bible for various original characters I've made
    </ArticleHeader>

    <section class="prose prose-invariants max-w-full">
      <h2>Camille "Rosy" Grey</h2>

      <div class="sidebar-decor not-prose mx-auto md:float-end bg-pi-yellow pt-3 md:m-5 md:mt-0 rounded-lg border border-pi-yellow max-w-100">
        <h3 class="font-display text-pi-gray text-xl ps-5 mb-3">Camille "Rosy" Grey</h3>
        <section class="sidebar-decor bg-pi-gray rounded-lg p-5">
          <dl class="grid gap-1">
            <div class="grid grid-cols-3 gap-5">
              <dt class="font-bold">Universe</dt>
              <dd class="col-span-2">Shadowrun</dd>
            </div>
            <div class="grid grid-cols-3 gap-5">
              <dt class="font-bold">Occupation</dt>
              <dd class="col-span-2">Hacker</dd>
            </div>
            <div class="grid grid-cols-3 gap-5">
              <dt class="font-bold">Names</dt>
              <dd class="col-span-2">Camille Grey, Rosy</dd>
            </div>
            <div class="grid grid-cols-3 gap-5">
              <dt class="font-bold">Living in</dt>
              <dd class="col-span-2">Seattle, UCAS</dd>
            </div>
            <div class="grid grid-cols-3 gap-5">
              <dt class="font-bold">Likes</dt>
              <dd class="col-span-2">Clubbing, loud music, Clippy, big dogs, cyan, pink</dd>
            </div>
            <div class="grid grid-cols-3 gap-5">
              <dt class="font-bold">Dislikes</dt>
              <dd class="col-span-2">Wasps, silence, running</dd>
            </div>
          </dl>
        </section>
      </div>

      <section>
        <p>
          Camille is a hacker-for-hire who will work for anyone with enough cash, whether for good or for evil. She is often known as "Rosy" for wearing rose-tinted glasses, which are purely for fashion. She became ambidextrous after having replaced her previously non-dominant right arm with a cybernetic one, which she did because "it just seemed cool at the time".
        </p>
        
        <p>
          She enjoys clubbing and loud raves, and finds any room where she can hear herself speak to be too quiet. Occasionally, she can be seen amusing herself by flying drones at people as they run away in terror. Though calm and capable in a gunfight, she is deathly afraid of wasps and once unloaded a magazine into a black-and-yellow marble.
        </p>

        <p>
          Camille is a character I made for the game tabletop RPG, Shadowrun, which is a cyberpunk setting where magic started to spring up on Earth one day resulting in the appearance of elves, orcs, and dragons.
        </p>
      </section>

      <section>
        <h3>Design</h3>
        <p>Though nicknamed after rose-tinted glasses, her most noticeable feature is her cyberarm, which she likes to show off. She is often depicted wearing a head-mounted software-defined radio with an integrated earpiece, which can be connected using a cable to the cyberdeck she carries around, slung over her shoulder.</p>

        <p>Since Camille was created as a design challenge― to make a Shadowrun character that looks like she's from Seattle― she wears clothes that can stand up to at least light rain and offers good wind coverage. For instance, she is mainly depicted with an REI windbreaker and high-heeled boots that resemble hiking boots. See the design checklist for more details on her clothes and accessories.</p>

        <h4>Design checklist</h4>
        <details>
          <summary>Main outfit (click to show)</summary>
          <ol>
            <li>[Glasses] Decorative rose-tinted glasses.</li>
            <li>[Eyes] Cybernetic eyes. These can glow any color and at different luminosities, usually set to a dim cyan.</li>
            <li>[Nose ring] A small steel septum ring.</li>
            <li>[Right ear] Head-mounted software-defined radio. Removable, but usually on.</span></li>
            <li>[Left ear] Three small gold earrings, with Clippy hanging from the bottom one</li>
            <li>[Right arm] A cyber arm. Her shoulder is branded <code>YAMATETSU PI0423</code>, and the datapad on her forearm bears an <a href="/images/agerszijn.png">Agerszijn logo</a>.</li>
            <li>[Left arm] Part of her cropped-jacket, made of synthetic fur, with a decorative belt/armband.</li>
            <li>[Left hand] White riding gloves.</li>
            <li>[Jackets] She is actually wearing two layers: a black cropped jacket, and an <a href="https://en.wikipedia.org/wiki/REI">REI Co-Op</a> branded windbreaker under it.</li>
            <li>[Zipper] RGB light zippers, normally set to a dim cyan.</li>
            <li>[Top zipper] The top zipper handle is a big steel ring.</li>
            <li>[Leggings] A colored strip strip runs down the inside and outside of each leg, usually with a cyan caution tape pattern.</li>
            <li>[Left leg] An ARES branded thigh holster.</li>
            <li>[Boots] Like hiking boots, but the sole is raised like platform heels. Each boot has a small caution symbol on the soles, on the outward side.</li>
            <li>[Gun] The engraving reads <code class="text-xl">美人薄命</code>. It is branded <code>セブロ PI-314</code>.</li>
            <li>[Cyberdeck] A SONY branded cyberdeck with a black shoulder strap, like on a violin case. The endcaps lights are RGB.</li>
          </ol>
        </details>
      </section>

      <section>
        <h3>Gallery</h3>

        <ul class="not-prose flex justify-around items-center">
          <li>
            <a href="/art/camille-grey-equipment">
              <Image src={ CamilleGreyEquipmentImg } alt="A decker and her equipment, drawn July 27, 2025" width={ 350 } />
            </a>
          </li>
          <li>
            <a href="/art/camille-grey">
              <Image src={ CamilleGreyImg } alt="Camille Grey, drawn April 28, 2025" width={ 350 } />
            </a>
          </li>
        </ul>
      </section>

      <section>
        <h3>Art by other people</h3>

        <ul class="not-prose flex justify-around items-center">
          <li>
            <figure>
              <a href="/art/artfight-defense-dubiousdisc-wildcard">
                <Image src={ ArtfightDefenseDubiousdiscWildcardImg } alt="wildcard, drawn July 27, 2025 by dubiousdisc" width={ 350 } />
              </a>
              <figcaption>Drawn by dubiousdisc, Art Fight 2025</figcaption>
            </figure>
          </li>
          <li>
            <figure>
              <a href="/art/artfight-defense-purpurosea-wanted">
                <Image src={ ArtfightDefensePurpuroseaWantedImg } alt="Camille Grey, drawn July 3, 2025" width={ 350 } />
              </a>
              <figcaption>Drawn by purpurosea, Art Fight 2025</figcaption>
            </figure>
          </li>
        </ul>
      </section>
    </section>
  </main>
</DefaultLayout>

<style>
  .sidebar-decor {
    clip-path: polygon(calc(100% - 30px) 0, 100% 30px, 100% 100%, 0 100%, 0 0);
  }
</style>