---
import ArticleHeader from '../components/ArticleHeader.astro';
import IconH2 from '../components/IconH2.astro';
import { Image } from 'astro:assets';
import SmallIconLink from '../components/SmallIconLink.astro';
import DefaultLayout from '../layouts/DefaultLayout.astro';
import SpinosaurusImg from '../art/automated-spinosaurus-entertainment.png';
import GoldfingerImg from '../art/goldfinger.png';
---

<DefaultLayout title="Support">
  <ArticleHeader
    icon="/images/icons/heart.png"
    width="32"
    title="Support me"
  >
    Like my art? Want me to make more art? Here's how you can support me!
  </ArticleHeader>
  
  <nav class="container flex justify-center mb-10">
    <ul class="flex justify-center gap-3 flex-wrap">
      <li><SmallIconLink href="#tips-and-comms" icon="/images/icons/ko-fi.png" label="Tips & commissioning art"/>
      <li><SmallIconLink href="#stickers" icon="/images/icons/redbubble.png" label="Buy stickers"/>
      <li><SmallIconLink href="#prints" icon="/images/icons/etsy.png" label="Buy prints"/>
    </ul>
  </nav>

  <main class="container">
    <section id="tips-and-comms" class="mb-10 flex flex-col gap-10 lg:flex-row-reverse">
      <div class="flex items-center prose prose-invariants text-white max-w-180">
        <div>
          <IconH2 icon="/images/icons/ko-fi.png" class="not-prose"><a href="https://ko-fi.com/pilosophos" class="link">Tips & commissioning art »</a></IconH2>
          <p>You can commission art from me, starting at US$25 for profile pictures, $85 for medium shots, and $125 for full body color illustrations.</p>
          <p>Samples for what you can expect to receive are available on the <a href="https://ko-fi.com/pilosophos/commissions" class="link">commissions page</a>.</p>
          <p>I accept NSFW commissions subject to some restrictions, and at 169% the normal rate. Please e-mail me at <a href="mailto:pilosophos@gmail.com">pilosophos@gmail.com</a>.</p>
          <p>Tips are also appreciated if you're feeling generous!</p>
        </div>
      </div>

      <aside class="flex-center flex-grow flex-shrink-0">
        <figure class="table">
          <Image src={ SpinosaurusImg } alt="Drawing of a sinosaurus with a Virtual Boy, a commission I did for a client's Discord server icon" width={ 350 } quality="max" />
          <figcaption class="text-stone-400 table-caption caption-bottom mt-2">
            A profile picture-sized commission I drew for a client's Discord server icon.
          </figcaption>
        </figure>
      </aside>
    </section>

    <div class="mb-10 flex flex-col gap-10 lg:flex-row">
      <div class="flex items-center prose prose-invariants text-white max-w-180">
        <div>
          <section id="stickers" class="mb-10">
            <IconH2 icon="/images/icons/redbubble.png" class="not-prose"><a href="https://pilosophos.redbubble.com" class="link">Buying stickers & shirts »</a></IconH2>
            <p>You can buy stickers, pins, and shirts with stuff I've drawn on Redbubble:</p>
            <nav>
              <ul class="text-base/4">
                <li><a href="https://pilosophos.redbubble.com" class="link">My Redbubble store</a></li>
                <li><a href="https://www.redbubble.com/people/pilosophos/shop?iaCode=all-stickers" class="link">Just stickers</a></li>
                <li><a href="https://www.redbubble.com/people/pilosophos/shop?iaCode=u-accessories" class="link">Just pins</a></li>
                <li><a href="https://www.redbubble.com/people/pilosophos/shop?&iaCode=u-clothing" class="link">Just shirts</a></li>
              </ul>
            </nav>
          </section>
          <section id="prints">
            <IconH2 icon="/images/icons/etsy.png" class="not-prose"><a href="https://pilosophos.etsy.com" class="link">Buying prints »</a></IconH2>
            <p>You can buy prints of my art on my Etsy store!</p>
            <p>If you want a print of my art that I don't currently sell, please e-mail me at <a href="mailto:pilosophos@gmail.com">pilosophos@gmail.com</a>.</p>
          </section>
        </div>
      </div>

      <aside class="flex items-center justify-center flex-grow flex-shrink-0">
        <figure class="table">
          <Image src={ GoldfingerImg } alt="A Goldfinger x Pokéspe parody poster, one of the prints for sale on my Etsy" width={ 350 } />
          <figcaption class="text-stone-400 table-caption caption-bottom mt-2">
            One of the prints available on my Etsy store. I've got this one hanging in my own apartment!
          </figcaption>
        </aside>
      </div>
    </div>
  </main>
</DefaultLayout>