---
import CyberPentagon from "./CyberPentagon.astro";

const { class: className } = Astro.props;
---

<div class=`${className} flex`>
  <CyberPentagon class="bg-pi-yellow w-20 me-1 flex items-center justify-center" notch="15px" corner="bottom-left">
    <img src='/images/icons/warning.png'
      class="relative -top-1 left-[2px] object-contain mt-1"
      role="presentation"
      width=32
    >
  </CyberPentagon>
  <div class="border border-s-15 border-pi-yellow p-5 text-pi-yellow flex items-center w-full bg-pi-gray/50">
    <div>
      <slot />
    </div>
  </div>
</div>