---
const { i, href, label, flavorText } = Astro.props;
---

<a
  href={ href }
  class="group rounded-lg block border border-pi-pink ps-5 md:ps-10 text-pi-pink bg-pi-pink"
>
  <div class="rounded-lg bg-pi-gray group-hover:bg-pi-gray/80 group-active:bg-pi-gray/60 p-5 ps-8 text-lg transition-all duration-.25s">
    <span class="text-4xl font-display">{ label }</span>
    <span class="block text-sm md:text-base font-display">{ flavorText }</span>
  </div>
</a>

<style>
  a, div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30px 100%, 0 calc(100% - 30px));
  }
</style>