---
const { href } = Astro.props;
---
<a href={ href } class="group block rounded border border-pi-cyan bg-pi-cyan text-center text-pi-cyan ps-3">
  <div class="rounded bg-pi-gray px-3 hover:bg-pi-gray/80 transition-all duration-.25s">
    <slot />
  </div>
</a>

<style>
  a, div {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 5px 100%, 0 calc(100% - 5px));
  }
</style>