---
import SmallIconLink from "./SmallIconLink.astro";
---

<header class="container flex flex-col items-center gap-3 p-3 border-b border-stone-500 md:flex-row">
  <div class="flex h-16 md:w-1/2">
    <img src="/images/malaszec-logo-inverted.svg" class="w-15" />
    <div class="flex flex-col justify-center items-center text-center ms-3">
      <h1 class="font-display text-2xl lg:text-4xl">Pilosophos' Circle</h1>
      <span class="w-60">Art & stuff from a guy on the internet</span>
    </div>
  </div>
  <nav class="flex flex-col items-center lg:text-2xl md:w-1/2 md:items-end">
    <ul class="flex gap-5">
      <li>
        <SmallIconLink noUnderline
          label="Art"
          icon="/images/icons/tiny/paint_file-0.png"
          href="/art"
        />
      </li>
      <li>
        <SmallIconLink noUnderline
          label="Writing"
          icon="/images/icons/tiny/winrep-0.png"
          href="/writing"
        />
      </li>
      <li>
        <SmallIconLink noUnderline
          label="Support me"
          icon="/images/icons/tiny/paint_file-0.png"
          href="/support-me"
        />
      </li>
      <li>
        <SmallIconLink noUnderline
          label="About"
          icon="/images/icons/tiny/paint_file-0.png"
          href="/about"
        />
      </li>
    </ul>
    <details>
      <summary class="text-end">More</summary>
      Hello world
    </details>
  </nav>
</header>