---
import SmallIconLink from "./SmallIconLink.astro";

const { title, date, slug } = Astro.props;
---
<div>
  <header class="font-display not-prose">
    <h1 class="text-4xl mb-0">{ title }</h1>
    <p>
      Date:
      {
        date && <time datetime={ date?.toISOString() }>
          {
            date.toLocaleDateString("en-CA", {
              day: 'numeric',
              year: 'numeric',
              month: 'long',
              timeZone: 'UTC'
            })
          }
        </time>
      }
    </p>

    <SmallIconLink label="View high quality" icon="/images/icons/tiny/painting.png" href={ `/art/${slug}-hq` } class="font-sans"/>
  </header>

  <slot />
</div>