                             --
                           -*@@*-
                         -*@@@@@@*-
                        -%@@@@@@@@%=
                       =@@@@@@@@@@@@=
                      -%@@@@@@@@@@@@%-
                      +@@@@@@@@@@@@@@+
             <span class="blink">+%%%%%%%%</span>@@@@@@@@@@@@@@@@<span class="blink">%%%%%%%%+</span>
             <span class="blink">*@@@%%%%%</span>@@@@@@%%%%@@@@@@<span class="blink">%%%%%@@@*</span>
             <span class="blink">*@@#</span>     +#+=-      -=+#+     <span class="blink">*@@*</span>
             <span class="blink">*@@#</span>       -+*#%%%%#*+-       <span class="blink">*@@*</span>
          --=#@@%=-    -@@@@@@@@@@@@=    -=#@@#=--
      -+#%@@@@@@@@- -#*  @@@@@@@@@@  .#- -%@@@@@@@@#*=
   -*%@@@@@@@@@@@= -%@@@@  @@@@@@#  @@@@- -@@@@@@@@@@@%*-
 -*@@@@@@@@@@@@@#  *@@@@@@@  @@  @@@@@@@*  #@@@@@@@@@@@@@*-
-%@@@@@@@@@@@@@@*  #@@@@@@@@@  %@@@@@@@@%  *@@@@@@@@@@@@@@%-
 -*@@@@@@@@@@@@@#  *@@@@@@@  @@  @@@@@@@*  #@@@@@@@@@@@@@*-
   -*%@@@@@@@@@@@= -@@@@@  @@@@@@  @@@@@- -@@@@@@@@@@@@*-
      =*#@@@@@@@@%- -#*  %@@@@@@@@@  *#- -%@@@@@@@@#*=-
          --=#@@%=-    -@@@@@@@@@@@@=    -=#@@#==-
             <span class="blink">*@@#</span>       -+*%%@@%%#+-       <span class="blink">*@@*</span>
             <span class="blink">*@@#</span>     +#+--      --+#+     <span class="blink">*@@*</span>
             <span class="blink">*@@@%%%%%</span>@@@@@%%%%%%@@@@@<span class="blink">%%%%%@@@*</span>
             <span class="blink">+%%%%%%%%</span>@@@@@@@@@@@@@@@@<span class="blink">%%%%%%%%+</span>
                      +@@@@@@@@@@@@@@+
                      -%@@@@@@@@@@@@@-
                       =@@@@@@@@@@@@=
                        =%@@@@@@@@@=
                         -*@@@@@@*-
                           -*@@*-
                             --