---
const { icon, class: className } = Astro.props;
---
<span class={className}>
  <img src={ icon }
    class="inline w-[16px] h-[16px] relative me-1"
    width="16"
    height="16"
    role="presentation"
  /><slot />
</span>