---
const { href, icon, label, noUnderline, class: className } = Astro.props;
---
<a href={ href } class=`group ${className}`>
  <img src={ icon }
    class="inline h-[16px] relative group-hover:-top-[1px] me-1"
    height="16"
    role="presentation"
  /><span
    class:list={[ "link group-hover:text-pi-cyan-dark", { 'no-underline': noUnderline } ]}
  >{ label }</span></a>