---
const { href, icon, label, noUnderline } = Astro.props;
---
<a href={ href } class="group">
  <img src={ icon }
    class="inline w-[16px] h-[16px] relative group-hover:-top-[1px] me-1"
    width="16"
    height="16"
    role="presentation"
  /><span
    class:list={[ "link group-hover:text-pi-cyan-dark", { 'no-underline': noUnderline } ]}
  >{ label }</span>
</a>