---
const { href, icon, label, noUnderline, class: className } = Astro.props;
---
<a href={ href } class=`inline-block group hover:bg-pi-cyan px-2 duration-150 ${className}`>
  <img src={ icon }
    class="inline h-[16px] relative -top-px me-1"
    height="16"
    width="16"
    role="presentation"
    style="filter: drop-shadow(1px 1px 0 hsla(0, 0%, 0%, 0.5));"
  /><span
    class:list={[ "link group-hover:text-pi-gray group-hover:no-underline", { 'no-underline': noUnderline } ]}
  >{ label }</span></a>