---
import { getCollection } from 'astro:content';
import DefaultLayout from "@layouts/DefaultLayout.astro";
import ArticleHeader from '@components/ArticleHeader.astro';
import CyberPentagon from '@components/CyberPentagon.astro';

const posts = ((await getCollection('writing'))
  .filter( post => !post.data.tags.includes('unpublished') )
  .toSorted((a, b) => {
    const aUpdated = a.data.updated || a.data.published;
    const bUpdated = b.data.updated || b.data.published;
    return bUpdated.getTime() - aUpdated.getTime()
  })
);
---
<DefaultLayout
  title="Writing"
  metadesc="A collection of writing from the desk of Pilosophos."
>
  <main class="container">
    <div class="grid lg:grid-cols-2 lg:gap-15">

      <ArticleHeader class="block lg:hidden" icon="/images/icons/winrep-1.png" title="Writing">
        I'm hoping to give Shakespeare a run for his money someday
      </ArticleHeader>

      <div class="hidden lg:block text-end mt-20">
        <div class="whitespace-nowrap">
          <div class="inline-block max-w-80 xl:max-w-100">
            <h2 class="font-display text-4xl md:mt-5">Writing</h2>
            <p class="whitespace-normal">I'm hoping to give Shakespeare a run for his money for some day.</p>
          </div>
          <img src="/images/icons/winrep-1.png"
            class="inline-block w-[112px] mx-5 relative -top-7"
            width={ 112 }
            height={ 112 }
            style="image-rendering: pixelated;"
          />
        </div>

        <div class="flex items-start justify-end pe-6 gap-3">
          <a href="/writing/rss.xml" class="group flex">
            <CyberPentagon
              class=`
                relative w-30 h-20 bg-pi-cyan text-pi-gray pe-1
                transition-colors group-hover:bg-amber-400 group-active:bg-white
              `
              notch="20px"
              corner="top-left"
            >
              <span class="block uppercase">writing</span>
              <span class="text-2xl/1 font-display">RSS</span>
              <img src="/images/icons/rss.svg"
                width="60"
                class="absolute -bottom-1 left-1 origin-bottom-left group-hover:scale-110 transition-transform"
                alt="RSS feed"
              />
            </CyberPentagon>
            <div class="bg-pi-cyan transition-colors group-hover:bg-amber-400 group-active:bg-white w-1 h-20 ms-1"></div>
          </a>

          <div id="decorative-grid" class="grid gap-3 grid-cols-3">
            {
              [...Array(27).keys()].map(n =>
                <div class="h-5 w-5 bg-pi-cyan transition-[opacity] duration-300" style={ `opacity: ${Math.max(Math.ceil(Math.random() * 100), 10)}%;` }></div>
              )
            }
          </div>
        </div>
      </div>

      <div>
        {
          <ul class="grid gap-5">
            {
              posts.map(post => (
                <li class="post group border-s-2 border-pi-cyan ps-5 hover:border-white">
                  <a href={ `/writing/${post.id}` }>
                    <div class="pe-3 group-hover:ps-2 group-hover:pe-0 transition-box">
                      <span class="link group-hover:text-white font-display">{ post.data.title }</span>
                      <p>{ post.data.description }</p>
                      <div class="muted">
                        { post.data.tags.join(", ") }
                      </div>
                    </div>
                  </a>
                </li>
              ))
            }
          </ul>
        }
      </div>
    </div>
  </main>
</DefaultLayout>

<script>
  const squares = document.querySelectorAll('#decorative-grid div');
  const posts = document.querySelectorAll('.post');
  posts.forEach(elem => {
    const square = elem as HTMLDivElement;
    square.addEventListener('mouseleave', () => shuffleOpacity())
  });

  function shuffleOpacity() {
    for (let square of squares) {
      (square as HTMLDivElement).style.opacity = `${Math.max(Math.ceil(Math.random() * 100), 10)}%`;
    }
  }
</script>