---
import { getCollection } from 'astro:content';
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import BigIconLink from '../../components/BigIconLink.astro';
import ArticleHeader from '../../components/ArticleHeader.astro';

const posts = await getCollection('writing')
  .then(collection => collection.filter( post => !post.data.tags.includes('unpublished') ));
---
<DefaultLayout title="Writing">
  <ArticleHeader icon="/images/icons/winrep-1.png" title="Writing">
    I'm hoping to give Shakespeare a run for his money someday
  </ArticleHeader>

  <main class="container">
    <ul class="grid gap-3 md:grid-cols-2">
      {
        posts.toSorted((a,b) => a.data.title >= b.data.title ? 1 : -1 ).map(post => (
          <li class="mb-5">
            <BigIconLink
              href={ `/writing/${post.id}` }
              label={ post.data.title }
              icon="/images/icons/winrep-1.png"
            >
              <p>{ post.data.description }</p>
              <div class="muted">
                Tags: { post.data.tags.join(', ') }
              </div>
            </BigIconLink>
          </li>
        ))
      }
    </ul>
  </main>
</DefaultLayout>