---
import { getCollection } from 'astro:content';
import DefaultLayout from "../../layouts/DefaultLayout.astro";
const posts = await getCollection('writing');
import BigIconLink from '../../components/BigIconLink.astro';
---
<DefaultLayout title="Writing">
  <header class="container text-center mb-5">
    <img class="inline align-baseline me-1" src="/images/icons/winrep-1.png" role="presentation">
    <h1 class="text-4xl font-display text-center mb-10 inline">Writing</h1>
    <p class="text-xl font-display">I'm hoping to give Shakespeare a run for his money someday</p>
  </header>

  <main class="container">
    <ul class="grid gap-3 md:grid-cols-2">
      {
        posts.toSorted((a,b) => a.data.title >= b.data.title ? 1 : -1 ).map(post => (
          <li class="mb-5">
            <BigIconLink
              href={ `/writing/${post.id}` }
              label={ post.data.title }
              icon="/images/icons/winrep-1.png"
            >
              <p>{ post.data.description }</p>
              <div class="muted">
                Tags: { post.data.tags.join(', ') }
              </div>
            </BigIconLink>
          </li>
        ))
      }
    </ul>
  </main>
</DefaultLayout>